{% extends 'base.html' %}
{% block heading %}
<link rel="stylesheet" href={{ url_for('static', filename='css/home.css' ) }}>
{% endblock heading %}
{% block body %}
<section id="home">
    <div class="container">
        <h1 class="h-primary">Search</h1>
        <form class="search-container" action="#">
            <input type="text" id="search-box" placeholder="Search here">
            <button type="submit" id="search-button"><i class="fas fa-search"></i></button>
        </form>
    </div>
    <div id="news-container">
        
    </div>
</section>
{% endblock body %}